.save{
  background-color: #93B1A6;
}
/* h2 {
  color: lightblue;
}
::ng-deep {
  .mat-form-field-label {
    color: white !important;
  }

  .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #5C8374;
  }
} */

.start{
  background-color: white;
}
.dialog-container{
  text-align: center;
  align-items: center;
  height: 100%;

}
.form mat-form-field {
  width: 300px;
}
::ng-deep .mat-step-header .mat-step-icon {
  background-color: darkslategray;
}

