<div class="dialog-container" xmlns="http://www.w3.org/1999/html">
  <h2 mat-dialog-title>Create New Meeting</h2>
  <mat-dialog-content class = "content">
<form [formGroup]="meetingInfo" class="form">
  <ng-template matStepLabel>Fill out Meeting data</ng-template>

  <mat-form-field>
    <mat-label>Title</mat-label>
    <input id="name" formControlName = "title"
           matInput placeholder="Add title">
  </mat-form-field>
  <mat-form-field>
    <mat-label >Start Date</mat-label>
    <input #startDate [ngxMatDatetimePicker]="start "
           formControlName="startDate"
           matInput placeholder="Choose start date" >
    <mat-datepicker-toggle [for]="$any(start)" matSuffix   ></mat-datepicker-toggle>
    <ngx-mat-datetime-picker class="start" #start  style="background-color: white !important;" ></ngx-mat-datetime-picker>
  </mat-form-field>
    <mat-form-field>
    <mat-label>Duration in minutes</mat-label>
    <input type = "number" id="durationMinutes" formControlName = "durationMinutes"
           matInput placeholder="Add minutes">
      <div *ngIf="meetingInfo.get('durationMinutes')?.hasError('required')">Duration is required.</div>
      <div *ngIf="meetingInfo.get('durationMinutes')?.hasError('pattern')">Invalid input.</div>
    </mat-form-field>

</form>
  </mat-dialog-content>
</div>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close="">Close</button>
  <button mat-button (click)= "saveMeeting()" class = "save" [mat-dialog-close]="true" >Save</button>
</mat-dialog-actions>